/* Dark theme */
/*@media (prefers-color-scheme: dark) {
    :root {
        --bg-colour: #04362f;
        --bg-secondary: #11453d;
        --primary-colour: #9AE7D9;
        --secondary-colour: #04362f;
        --highlight-colour: #04362f;
        --highlight-bg-colour: #FFC9D2;
        --btn-txt-colour: #04362f;
        --photo-bg-colour: #FFFFFF;
        --photo-txt-colour: #04362f;
        --blockquote: #ffffff;
    }
}*/

/*
Walkman theme
@media (prefers-color-scheme: dark) {
    :root {
        --bg-colour: #192c52;
        --bg-secondary: #888785;
        --primary-colour: #ffffff;
        --secondary-colour: #192c52;
        --highlight-colour: #f6cd11;
        --highlight-bg-colour: #49a074;
        --btn-txt-colour: #04362f;
        --photo-bg-colour: #888785;
        --photo-txt-colour: #f6cd11;
        --blockquote: #49a074;
    }
}
*/

@media (prefers-color-scheme: dark) {
    :root {
        --bg-colour: #04362f;
        --bg-secondary: #11453d;
        --primary-colour: #9AE7D9;
        --secondary-colour: #04362f;
        --highlight-colour: #04362f;
        --highlight-bg-colour: #FFC9D2;
        --btn-txt-colour: #04362f;
        --photo-bg-colour: #FFFFFF;
        --photo-txt-colour: #04362f;
        --blockquote: #FFC9D2;
    }
}

/* Light theme */
@media (prefers-color-scheme: light) {
    :root {
        --bg-colour: #192c52;
        --bg-secondary: #888785;
        --primary-colour: #ffffff;
        --secondary-colour: #192c52;
        --highlight-colour: #f6cd11;
        --highlight-bg-colour: #49a074;
        --btn-txt-colour: #04362f;
        --photo-bg-colour: #888785;
        --photo-txt-colour: #f6cd11;
        --blockquote: #49a074;
    }
}