/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-colour: #1e1e2e;
        --bg-secondary: #302d41;
        --primary-colour: #cdd6f4;
        --secondary-colour: #1e1e2e;
        --highlight-colour: #f5e0dc;
        --highlight-bg-colour: #f28fad;
        --btn-txt-colour: #1e1e2e;
        --photo-bg-colour: #302d41;
        --photo-txt-colour: #f5e0dc;
        --blockquote: #f28fad;
    }
}

/* Light theme */
@media (prefers-color-scheme: light) {
    :root {
        --bg-colour: #ffffff;
        --bg-secondary: #f5e0dc;
        --primary-colour: #4c4f69;
        --secondary-colour: #dce0e8;
        --highlight-colour: #d20f39;
        --highlight-bg-colour: #f28fad;
        --btn-txt-colour: #4c4f69;
        --photo-bg-colour: #f5e0dc;
        --photo-txt-colour: #d20f39;
        --blockquote: #f28fad;
    }
}